*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}

body{
	background-color: rgba(240, 240, 240, 1.0);
	font-family: "helvetica-neue", "arial", "calibri", "sans-serif";
	color: rgba(16, 16, 16, 1.0);
	font-size: 1.2em;
}

a:link, a:visited{
	color: rgba(16, 16, 16, .75);
}
a:hover, a:focus{
	color: rgba(16, 16, 16, .95);
	text-decoration: none;
}
a:active{
	color: rgba(44, 147, 118, .75);
}

header{
	width: 100vw;
	background-color: rgba(216, 216, 216, 1.0);
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: 1fr minmax(min-content, auto);
	padding: 1.2em;
	z-index: 1;
}

header nav{
	text-align: right;
}

nav{
	display: grid;
	grid-template-columns: repeat(2, minmax(min-content, auto));
	grid-gap: 1.2em;
}

nav a{
	text-align: center;
	line-height: 2em;
}

#scroll-info{
	position: fixed;
	top: 89px;
	width: 100vw;
	height: 32px;
	text-align: right;
	padding: 0 1.2em;
	background-color: rgba(208, 208, 208, 1.0);
	z-index: 1;
}

section{
	min-height: 100vh;
	min-width: 100vw;
	padding: 8em 1.2em;
}

p{
	max-width: 40em;
}

ul{
	padding: 0.6em 1.2em 1.2em;
}

hr{
	margin: 2em 0;
}

figure{
	transition: opacity 2s;
}

figure img{
	max-width: 100%;
}


#directions-map{
	width: 90vw;
	height: 75vh;
	margin: 0 auto;
	background-color: rgba(216, 216, 216, 1.0);
	padding: 1.2 em;
}

button{
	display: inline-block;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0;
	text-decoration: none;
	background: #0069ed;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance:  none;
}

button: hover,
button: focus {
	background: #0053ba;
}

button: focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

button: active {
	transform: scale(0.99);
}


footer{
	width:  100vw;
	background-color: rgba(216, 216, 216, 1.0);
	padding: 1.2em;
}